flows/Create OnPost_SaveRoom.json
[
   {
      "id":"2ce9a17a.d80926",
      "type":"http in",
      "z":"b8d14ab6.fa7508",
      "name":"On calendar update",
      "url":"/test",
      "method":"post",
      "swaggerDoc":"",
      "x":110,
      "y":160,
      "wires":[
         [
            "8e683f0a.b66c3",
            "851c98ab.5818f"
         ]
      ]
   },
   {
      "id":"8e683f0a.b66c3",
      "type":"http response",
      "z":"b8d14ab6.fa7508",
      "name":"Reponse",
      "x":340,
      "y":60,
      "wires":[

      ]
   },
   {
      "id":"5a08793c.24edf8",
      "type":"debug",
      "z":"b8d14ab6.fa7508",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"payload",
      "x":530,
      "y":160,
      "wires":[

      ]
   },
   {
      "id":"851c98ab.5818f",
      "type":"function",
      "z":"b8d14ab6.fa7508",
      "name":"Create data",
      "func":"",
      "outputs":1,
      "noerr":0,
      "x":350,
      "y":160,
      "wires":[
         [
            "5a08793c.24edf8"
         ]
      ]
   },
   {
      "id":"ce73b237.731da",
      "type":"inject",
      "z":"b8d14ab6.fa7508",
      "name":"Click to execute",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":120,
      "y":240,
      "wires":[
         [
            "9c145354.9968f8"
         ]
      ]
   },
   {
      "id":"9c145354.9968f8",
      "type":"function",
      "z":"b8d14ab6.fa7508",
      "name":"Load rooms",
      "func":"\nmsg.payload = context.global.rooms;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":350,
      "y":240,
      "wires":[
         [
            "543aca66.16d80c"
         ]
      ]
   },
   {
      "id":"543aca66.16d80c",
      "type":"debug",
      "z":"b8d14ab6.fa7508",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"false",
      "x":530,
      "y":240,
      "wires":[

      ]
   }
]
